
.container {
    max-width: 90%; 
    margin: auto; 
    padding: 20px; 
}

table {
    table-layout: fixed;
    word-wrap: break-word; 
    margin-top: 10px;
}

#productTableContainer {
    max-height: 600px; 
    overflow-y: auto; 
    margin-top: 20px; 
    border: 1px solid #dee2e6; 
    border-radius: 5px; 
    padding: 10px; 
    background-color: #ffffff; 
}

/* Modal */
#productModal .modal-dialog {
    max-width: 500px; 
    min-height: 100%;
    margin: auto;
}

button#createProductBtn {
    margin-bottom: 15px; 
}
