body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.not-found-container {
    text-align: center;
}
.not-found-container img {
    max-width: 300px;
    margin-bottom: 20px;
}
.not-found-container h1 {
    font-size: 3rem;
    color: #343a40;
}
.not-found-container p {
    font-size: 1.2rem;
    color: #6c757d;
}
.not-found-container a {
    margin-top: 20px;
    display: inline-block;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
}
.not-found-container a:hover {
    background-color: #0056b3;
}